# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# audio soubory
# audio/sys/
# audio/stops/

# logy
*.log
/build/